html { height: 100% }
body { height: 100%; margin: 0; padding: 0; font-family: "Helvetica Neue", Arial; background: #FFFFFF; }
#map_canvas { height: 82%; width:95%; margin-left: auto; margin-right: auto; }


#header { height:60px; }

#header #logo {
  background: url('../../images/logo.jpg') no-repeat 16px 10px;
  width:350px;
  height:60px;
}

#header #about {
  color: #000000;
  float:right;
  font-size:20px;
  margin:22px;
}

#loader {
  font-size:20px;
  text-align:center;
  clear:both;
  margin-top:10px;
}

#legend {
  width:400px;
  float:right;
}

#legend .factor {
  color: #000000;
  height:60px;
  padding-left:58px;
  padding-top:26px;
  float:right;
  width:70px;
}

#legend .delay {
  background: url("../../images/delay.jpg") no-repeat scroll 10px 0 transparent;
}

#legend .capacity {
  background: url('../../images/capacity.jpg') no-repeat;
}

#legend .speed {
  background: url('../../images/speed.jpg') no-repeat;
}


#form, #range {
	margin-top: 4px;
	margin-left:auto;
	margin-right:auto;
	width:95%;
}

#range {
  display:block;
  font-family: "Helvetica Neue", "Yanone Kaffeesatz";
  margin-bottom:4px;
  position:relative;
  text-align:center;
}

#city { background: #FFFFFF; border:solid 1px #111111; margin-top:12px; }
#city option { line-height: 30px; }

#slider {
  height:8px;
  width:100%;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  position:relative;
  z-index: 200;
}

div.date { float:left; height:40px; }
div.controls { float:left; height:90px; width:250px; }

#range .segment { 
  float:left;
  height:50px;
  position:relative;
  margin-top:-22px;
  z-index: 100;
}

#range .tick { 
  border: 1px solid #AAAAAA;
  clear: none;
  height: 21px;
  margin-left: 50%;
  margin-top: 5px;
  position: relative;
  width: 1px;
}

#range .label {
  background: #FFFFFF;
  bottom: 0;
  color: #000000;
  left: 50%;
  margin-left: -18px;
  position: absolute;
}

#currentTime { font-size: 30px; width:180px; }
#day { color: #555555; width: 174px; }

#currentTime div { float: left; padding:5px; padding-bottom:10px; padding-top:10px; }
#currentTime div.hours,
#currentTime div.minutes,
#currentTime div.seconds { border:solid 1px #AAAAAA; color:#111111; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }

.mapTooltip {
  background:#EEEEEE;
  border:solid 1px #DDDDDD;
  color: #000000;
  padding:8px;
  position:absolute;
  height: 135px;
  width: 280px;
  z-index:2000;
}

.mapTooltip .tile {
  border: 1px solid #000000;
  color: #000000;
  float: left;
  height: 92px;
  text-align:center;
  width: auto;
}

.mapTooltip .tile.delay { background: #FBF500; }
.mapTooltip .tile.capacity { background: #58D3D6; }
.mapTooltip .tile.speed { background: #E07C94; }

.mapTooltip .label {
  background:none;
  border-bottom: 1px solid #000000;
  border-radius: 0px;
  color: #000000;
  width:60px;
}

.mapTooltip .tile .icon {
  height:50px;
}

.mapTooltip .tile .grade {
  border-top: 1px solid #000000;
}

.mapTooltip .tile .gradeA { background: url('../../images/white/LOS-A.gif') center center no-repeat; }
.mapTooltip .tile .gradeB { background: url('../../images/white/LOS-B.gif') center center no-repeat; }
.mapTooltip .tile .gradeC { background: url('../../images/white/LOS-C.gif') center center no-repeat; }
.mapTooltip .tile .gradeD { background: url('../../images/white/LOS-D.gif') center center no-repeat; }
.mapTooltip .tile .gradeE { background: url('../../images/white/LOS-E.gif') center center no-repeat; }
.mapTooltip .tile .gradeF { background: url('../../images/white/LOS-F.gif') center center no-repeat; }

.mapTooltip .totalLevel .gradeA { background: url('../../images/black/LOS-A.gif') center center no-repeat; }
.mapTooltip .totalLevel .gradeB { background: url('../../images/black/LOS-B.gif') center center no-repeat; }
.mapTooltip .totalLevel .gradeC { background: url('../../images/black/LOS-C.gif') center center no-repeat; }
.mapTooltip .totalLevel .gradeD { background: url('../../images/black/LOS-D.gif') center center no-repeat; }
.mapTooltip .totalLevel .gradeE { background: url('../../images/black/LOS-E.gif') center center no-repeat; }
.mapTooltip .totalLevel .gradeF { background: url('../../images/black/LOS-F.gif') center center no-repeat; }

.mapTooltip .NA { background: #CCCCCC !important; color: #999999; }
.mapTooltip .NA label { color: #999999; }


.ui-slider { background:#CCCCCC; clear:both; display:block; }

.ui-slider-handle.ui-state-default {
	border:solid 1px #777777;
  margin-top:-2px;
}

.animation {
  width:150px;
  height: 80px;
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
}

#circleG{
width:116.66666666666667px;
}

.circleG{
background-color:#FFFFFF;
float:left;
height:25px;
margin-left:13px;
width:25px;
-moz-animation-name:bounce_circleG;
-moz-animation-duration:1.9500000000000002s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-border-radius:17px;
-webkit-animation-name:bounce_circleG;
-webkit-animation-duration:1.9500000000000002s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-border-radius:17px;
-ms-animation-name:bounce_circleG;
-ms-animation-duration:1.9500000000000002s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-ms-border-radius:17px;
-o-animation-name:bounce_circleG;
-o-animation-duration:1.9500000000000002s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-o-border-radius:17px;
animation-name:bounce_circleG;
animation-duration:1.9500000000000002s;
animation-iteration-count:infinite;
animation-direction:linear;
border-radius:17px;
}

#circleG_1{
-moz-animation-delay:0.39s;
-webkit-animation-delay:0.39s;
-ms-animation-delay:0.39s;
-o-animation-delay:0.39s;
animation-delay:0.39s;
}

#circleG_2{
-moz-animation-delay:0.9099999999999999s;
-webkit-animation-delay:0.9099999999999999s;
-ms-animation-delay:0.9099999999999999s;
-o-animation-delay:0.9099999999999999s;
animation-delay:0.9099999999999999s;
}

#circleG_3{
-moz-animation-delay:1.1700000000000002s;
-webkit-animation-delay:1.1700000000000002s;
-ms-animation-delay:1.1700000000000002s;
-o-animation-delay:1.1700000000000002s;
animation-delay:1.1700000000000002s;
}

@-moz-keyframes bounce_circleG{
0%{
}

50%{
background-color:#000000}

100%{
}

}

@-webkit-keyframes bounce_circleG{
0%{
}

50%{
background-color:#000000}

100%{
}

}

@-ms-keyframes bounce_circleG{
0%{
}

50%{
background-color:#000000}

100%{
}

}

@-o-keyframes bounce_circleG{
0%{
}

50%{
background-color:#000000}

100%{
}

}

@keyframes bounce_circleG{
0%{
}

50%{
background-color:#000000}

100%{
}

}