html { height: 100% }
body { height: 100%; margin: 0; padding: 0; font-family: "Helvetica Neue", Arial; background: #FFFFFF; }
#map_canvas { height: 82%; width:95%; margin-left: auto; margin-right: auto; }


#header { height:60px; }

#header #logo {
  background: url('../../images/logo.jpg') no-repeat 16px 10px;
  width:350px;
  height:60px;
}

#header #about {
  color: #000000;
  float:right;
  font-size:20px;
  margin:20px;
}

#loader {
  font-size:20px;
  text-align:center;
  clear:both;
  margin-top:10px;
}

#legend {
  width:400px;
  float:right;
}

#legend .factor {
  color: #000000;
  height:60px;
  padding-left:58px;
  padding-top:20px;
  float:right;
  width:70px;
}

#legend .delay {
  background: url("../../images/delay.jpg") no-repeat scroll 10px 0 transparent;
}

#legend .capacity {
  background: url('../../images/capacity.jpg') no-repeat;
}

#legend .speed {
  background: url('../../images/speed.jpg') no-repeat;
}


#form, #range {
	margin-top: 4px;
	margin-left:auto;
	margin-right:auto;
	width:95%;
}

#range {
  display:block;
  font-family: "Helvetica Neue", "Yanone Kaffeesatz";
  margin-bottom:4px;
  position:relative;
  text-align:center;
}

#city { background: #FFFFFF; margin-top:12px; }
#city option { line-height: 30px; }

#slider {
  height:8px;
  width:100%;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  position:relative;
  z-index: 200;
}

div.date { float:left; height:40px; }
div.controls { float:left; height:90px; width:300px; }

#range .segment { 
  float:left;
  height:50px;
  position:relative;
  margin-top:-22px;
  z-index: 100;
}

#range .tick { 
  border: 1px solid #AAAAAA;
  clear: none;
  height: 21px;
  margin-left: 50%;
  margin-top: 5px;
  position: relative;
  width: 1px;
}

#range .label {
  background: #FFFFFF;
  bottom: 0;
  color: #000000;
  left: 50%;
  margin-left: -18px;
  position: absolute;
}

#currentTime { font-size: 30px; width:180px; }
#day { color: #555555; width: 172px; }

#currentTime div { float: left; padding:5px; padding-bottom:10px; padding-top:10px; }
#currentTime div.hours,
#currentTime div.minutes,
#currentTime div.seconds { border:solid 1px #AAAAAA; color:#222222; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }

.mapTooltip {
  background:#EEEEEE;
  border:solid 1px #DDDDDD;
  color: #000000;
  padding:8px;
  position:absolute;
  height: 135px;
  width: 280px;
  z-index:2000;
}

.mapTooltip .tile {
  border: 1px solid #000000;
  color: #000000;
  float: left;
  height: 92px;
  text-align:center;
  width: auto;
}

.mapTooltip .tile.delay { background: #FBF500; }
.mapTooltip .tile.capacity { background: #58D3D6; }
.mapTooltip .tile.speed { background: #E07C94; }

.mapTooltip .tile .label {
  background:none;
  border-bottom: 1px solid #000000;
  border-radius: 0px;
  color: #000000;
  width:60px;
}

.mapTooltip .tile .icon {
  height:50px;
}

.mapTooltip .tile .grade {
  border-top: 1px solid #000000;
}

.mapTooltip .tile .gradeA { background: url('../../images/white/LOS-A.gif') center center no-repeat; }
.mapTooltip .tile .gradeB { background: url('../../images/white/LOS-B.gif') center center no-repeat; }
.mapTooltip .tile .gradeC { background: url('../../images/white/LOS-C.gif') center center no-repeat; }
.mapTooltip .tile .gradeD { background: url('../../images/white/LOS-D.gif') center center no-repeat; }
.mapTooltip .tile .gradeE { background: url('../../images/white/LOS-E.gif') center center no-repeat; }
.mapTooltip .tile .gradeF { background: url('../../images/white/LOS-F.gif') center center no-repeat; }

.ui-slider { background:#CCCCCC; clear:both; display:block; }

.ui-slider-handle.ui-state-default {
	border:solid 1px #777777;
  margin-top:-2px;
}

.animation {
  width:150px;
  margin-top:30px;
  margin-left:auto;
  margin-right:auto;
}

.bubblingG span {
display: inline-block;
vertical-align: middle;
width: 13px;
height: 13px;
margin: 31px auto;
background: #FBF500;
-moz-border-radius: 63px;
-moz-animation: bubblingG 1.3s infinite alternate;
-webkit-border-radius: 63px;
-webkit-animation: bubblingG 1.3s infinite alternate;
-ms-border-radius: 63px;
-ms-animation: bubblingG 1.3s infinite alternate;
-o-border-radius: 63px;
-o-animation: bubblingG 1.3s infinite alternate;
border-radius: 63px;
animation: bubblingG 1.3s infinite alternate;
}

#bubblingG_1 {
-moz-animation-delay: 0s;
-webkit-animation-delay: 0s;
-ms-animation-delay: 0s;
-o-animation-delay: 0s;
animation-delay: 0s;
}

#bubblingG_2 {
-moz-animation-delay: 0.39s;
-webkit-animation-delay: 0.39s;
-ms-animation-delay: 0.39s;
-o-animation-delay: 0.39s;
animation-delay: 0.39s;
}

#bubblingG_3 {
-moz-animation-delay: 0.78s;
-webkit-animation-delay: 0.78s;
-ms-animation-delay: 0.78s;
-o-animation-delay: 0.78s;
animation-delay: 0.78s;
}

@-moz-keyframes bubblingG {
0% {
width: 13px;
height: 13px;
background-color:#FBF500;
-moz-transform: translateY(0);
}

100% {
width: 30px;
height: 30px;
background-color:#58D3D6;
-moz-transform: translateY(-26px);
}

}

@-webkit-keyframes bubblingG {
0% {
width: 13px;
height: 13px;
background-color:#FBF500;
-webkit-transform: translateY(0);
}

100% {
width: 30px;
height: 30px;
background-color:#58D3D6;
-webkit-transform: translateY(-26px);
}

}

@-ms-keyframes bubblingG {
0% {
width: 13px;
height: 13px;
background-color:#FBF500;
-ms-transform: translateY(0);
}

100% {
width: 30px;
height: 30px;
background-color:#58D3D6;
-ms-transform: translateY(-26px);
}

}

@-o-keyframes bubblingG {
0% {
width: 13px;
height: 13px;
background-color:#FBF500;
-o-transform: translateY(0);
}

100% {
width: 30px;
height: 30px;
background-color:#58D3D6;
-o-transform: translateY(-26px);
}

}

@keyframes bubblingG {
0% {
width: 13px;
height: 13px;
background-color:#FBF500;
transform: translateY(0);
}

100% {
width: 30px;
height: 30px;
background-color:#58D3D6;
transform: translateY(-26px);
}
}
</div>